<ul id="navbar">
	<li style="float: left"><a href=/homePage>Home</a></li>
	<li class="dropdown" style="float: right"><a>Account</a>
		<div id="dropdownContent">
			<a href="accountPage">Account</a>
			<a href="logout">Logout</a>
		</div>
	</li>
</ul>