<!DOCTYPE html>
<html>
	<head>
		<title>XD</title>
		<link href='style/about.css' rel='stylesheet' type='text/css'/>
	</head>
	<body>
		{{>navbar}}
		<div id="loginPanel">
			<input placeholder="Enter your Username" type="text"/>
			<input placeholder="Enter your Password" type="password"/>
		</div>
		landing page for what eats
	</body>
</html>
